<!DOCTYPE html>
<html ng-app="testingAngular">
  <head>
    <title>Testing Angular</title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="testingAngularController">
    <header>
      <h1>{{title}}</h1>
    </header>

    <section>
      <form class="" ng-submit="addDestination()">
        City: <input type="text" name="city" ng-model="newDestionation.city" />
        Country: <input type="text" name="country" ng-model="newDestionation.country" />
        <input type="submit" name="" value="Add" />
      </form>
    </section>

    <section>
      <h2>Your trip</h2>
      <div class="" ng-repeat="destination in destinations">
        <span>{{destination.city}}, {{destination.country}}</span><button ng-click="removeDestination()">Remove</button>
      </div>
    </section>
  </body>
</html>
